include README.md
include LICENSE
include python/setup.py
recursive-include python/abi *.py
recursive-include python/abi *.so
recursive-include python/abi *.dll
recursive-include python/abi *.dylib
global-exclude *.pyc
global-exclude __pycache__
global-exclude *.pyo
global-exclude .git*